<div class="product-feature-wrap"> 
  <div class="feature-top page-width">
  {% if section.settings.title != blank %}
  <h1 class="product-feature-title">{{ section.settings.title }}</h1>
  {% endif %} 
  <div class="fe-info">
   {{ section.settings.info }} 
  </div>
    <div class="btm-rating">
      <span class="stamped-product-reviews-badge" data-id="{{ product.id }}">{{ product.metafields.stamped.badge }}</span>
    </div>  
  </div>
{% if section.settings.shiping_info != blank %}
  <h2 class="fe-shipping-info">{{ section.settings.shiping_info }}</h2>  
{% endif %}  

<div class="fe-boxes grid">
  {% for block in section.blocks %}
  {% case block.type %}
  {% when 'box' %}
  	<div class="grid__item medium-up--one-third coll-{% increment counter %}">
      <div class="fe-box">
        {% if block.settings.fe_icon != blank %}
        	<img class="img-lazy" src="" data-original="{{ block.settings.fe_icon | img_url: 'master' }}" alt="{{ section.settings.fe_title }}" >
        {% endif %}
        <p class="box-fe-title">{{ block.settings.fe_title }}</p>
        <p class="box-fe-info">{{ block.settings.fe_info }}</p>
      </div>  
    </div>
  {% endcase %}
  {% endfor %}
</div>
<div class="pscll-wrap text-center">
  <span class="btn btn-default scl-product">{{ section.settings.purchase_btn_text }}</span>
</div>  
  
  
{% if section.settings.image %}
<div class="fe-section-img">
  <img class="img-lazy" src="" data-original="{{section.settings.image | img_url: '1600x' }}" alt="{{ section.settings.image_alt }}" >
</div>  
{% endif %}  
  
</div>  
{% schema %}
  {
    "name": "Product Features",
    "settings": [
	{
	 "type": "text",
	 "id": "title",
	 "label": "Title",
	 "default": "Alkaline Water Anywhere"
	},
	{
	 "type": "html",
	 "id": "info",
	 "label": "Info",
     "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><p>Simply ﬁll and drink.</p>"
	},
	{
	  "type": "text",
	  "id": "shiping_info",
	  "label": "Shipping Info",
      "default": "<strong>SAME DAY SHIPPING</strong> Order by 10:30 AM PST"
	},
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image ALT"
    },
	{
	  "type": "text",
	  "id": "purchase_btn_text",
	  "label": "Purchase btn Text",
	  "default": "PURCHASE"
	}
    ],
    "blocks": [
      {
        "type": "box",
        "name": "Add Feature",
		"settings": [
          {
            "type": "image_picker",
            "id": "fe_icon",
            "label": "Icon Image"
          },
		  {
            "type": "text",
			"id": "fe_title",
			"label": "Title"
		  },
		  {
            "type": "textarea",
			"id": "fe_info",
			"label": "Info"
		  }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
