<div class="row page clearfix content-wrap">
  <div class="col-md-2 col-sm-12 content-menu dashboard-sidebar">
    <div class="content-menu-wrap">
      <a href="/account"><div class="icon-side dashboard"></div>Dashboard</a>
        <a href="/a/dyln/customers/profile/edit/"><div class="icon-side profile"></div>Profile</a>
        <a href="/a/dyln/customers/orders/"><div class="icon-side orders"></div>My Orders</a>
        <a href="/a/dyln/bottles/registered/"><div class="icon-side bottles"></div>My Bottles</a>
        <!-- <a href="/account/addresses"><div class="icon-side address"></div>Address Book</a>
        <a href="/customers/subscription"><div class="icon-side subscriptions"></div>Subscriptions</a> -->
        <a href="/account/logout" ><div class="icon-side logout"></div>Logout</a>
    </div>
  </div>
  <div class="col-md-9 col-sm-12 animated fadeInUp inner-content reward-wrapper" id="account_details">
    <div class="page-name">
        <h3>Rewards</h3>
    </div>
  <div id="fb-root"></div>
    <div class="row boxes-wrap">
      <div class="col-md-4">
        <div class="box-wrapper box-points">
          <div class="heading-box">
              <h3>My Points Earned</h3>
          </div>
          <div class="box-content points">
            <h1>10</h1>
            <h2>Points</h2>
            <p>500 more points till next reward</p>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <div class="box-wrapper">
          <div class="heading-box">
              <h3>Refer a Friend</h3>
          </div>
          <div class="footer-newsletter newsletter-top">
            <div class="custom-newsletter">
              <div class="email-signup">
                <div class="custom-signup">
                  <strong class="small-heading">Earn 300 Points when they order</strong>
                  Good for one FREE Diffuser
                </div>
                <form novalidate="" target="_blank" method="GET"  class=" klaviyo_standard_embed_e9NMuf" id="email_signup" _lpchecked="1">
                  <span class="klaviyo_field_group">
                    <input value="e9NMuf" name="g" type="hidden">
                    <input placeholder="Enter your email address..." id="k_id_email" name="email" type="email">
                    <span class="klaviyo_submit_button btn">Sign up</span>
                  </span>
                </form>
                <div class="top-share">
                  OR <strong>Click to Share</strong> <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row boxes-wrap">
      <div class="col-md-12">
        <div class="box-wrapper">
          <div class="heading-box">
              <h3>Rewards</h3>
          </div>
          <div class="row">
            <div class="col-md-4 redeem-items redeemable-item">
              <div class="profile-img-wrap">
                <div class="profile-img">
                  <img class="prof-pic" src ="http://placehold.it/150x150">
                </div>
              </div>
              <div class="user-info">
                <h4>Diffuser</h4>
                <small>300 Points</small>
              </div>

                <button type="button" id="save-profile" class="purchase-diffuser btn action_button ">Redeem</button>
            </div>


            <div class="col-md-4 redeem-items">
              <div class="profile-img-wrap">
                <div class="profile-img">
                  <img class="prof-pic" src ="http://placehold.it/150x150">
                </div>
              </div>
              <div class="user-info">
                <h4>3-Pack of Diffuser</h4>
                <small>500 Points</small>
              </div>
              <div class="points-info">Only 500 points needed Earn More Below</div>
            </div>


            <div class="col-md-4 redeem-items">
              <div class="profile-img-wrap">
                <div class="profile-img">
                  <img class="prof-pic" src ="http://placehold.it/150x150">
                </div>
              </div>
              <div class="user-info">
                <h4>Free Bottle</h4>
                <small>1500 Points</small>
              </div>
              <div class="points-info">Only 500 points needed Earn More Below</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row boxes-wrap">
      <div class="col-md-12">
        <div class="box-wrapper">
          <div class="heading-box">
              <h3>Your Referrals</h3>
          </div>
          <div class="progress-wrap">
            <div class="progress-block">
              <div class="progress-email">
                abby@gmail.com
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                  <div class="logo"><i class="fa fa-user" aria-hidden="true"></i></div>
                </div>
              </div>
              <div class="progress-info">Signed Up</div>
            </div>
            <div class="progress-block">
              <div class="progress-email">
                abby@gmail.com
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                  <div class="logo"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></div>
                </div>
              </div>
              <div class="progress-info purchase">Purchased <small>200 points earned!</small></div>
            </div>
            <div class="progress-block">
              <div class="progress-email">
                abby@gmail.com
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                  <div class="logo"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </div>
              </div>
              <div class="progress-info none">Invited</div>
            </div>
            <div class="progress-block">
              <div class="progress-email">
                abby@gmail.com
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                  <div class="logo"></div>
                </div>
              </div>
              <div class="progress-info none">Invited</div>
            </div>
            <div class="progress-block">
              <div class="progress-email">
                abby@gmail.com
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                  <div class="logo"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </div>
              </div>
              <div class="progress-info none">Invited</div>
            </div>

            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn btn-common btn-grey btn-thin ">View All</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row boxes-wrap">
      <div class="col-md-4 redeemable-boxes redeemed">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0001_Icon_CompleteAccount.png' | asset_img_url }}" alt="" /><span>Create an Account</span></div>
          </div>
          <div class="points-req">
          10
          <small>points</small>
          </div>
          <!--
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">View All</button>
            </div>
            -->
            <div class="btn-wrap centered ">
              <div class="earned"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Earned</div class="earned">
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0001_Icon_CompleteAccount.png' | asset_img_url }}" alt="" /><span>Complete your Account</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">View All</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0002_Icon_Register.png' | asset_img_url }}" alt="" /><span>Register your Bottle</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Register</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0003_Icon_FB.png' | asset_img_url }}" alt="" /><span>Like DYLN on Facebook</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Like Dyln</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0004_Icon_IG.png' | asset_img_url }}" alt="" /><span>Follow DYLN on Instagram</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Follow</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0005_Icon_TW.png' | asset_img_url }}" alt="" /><span>Follow DYLN on Twitter</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Follow</button>
            </div>
        </div>
      </div>

      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0008_Icon_ShareOnFB.png' | asset_img_url }}" alt="" /><span>Share DYLN on Facebook</span></div>
          </div>
          <div class="points-req">
          5
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Share</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0012_Icon_Review.png' | asset_img_url }}" alt="" /><span>Review your DYLN purchase</span></div>
          </div>
          <div class="points-req">
          10
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Review</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0007_Icon_Diffuser.png' | asset_img_url }}" alt="" /><span>First Diffuser Replacement</span></div>
          </div>
          <div class="points-req">
          10
          <small>points</small>
          </div>
            <div class="btn-wrap centered text-btn">
                <div class="txt-in">This points will be automatically applied</div>
            </div>
        </div>
      </div>

      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0010_Icon_ShareReview.png' | asset_img_url }}" alt="" /><span>Share a Review</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Share</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0006_Icon_Photo.png' | asset_img_url }}" alt="" /><span>Submit a Photo</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Review</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0009_Icon_Pinterest.png' | asset_img_url }}" alt="" /><span>Share to Pinterest</span></div>
          </div>
          <div class="points-req">
          30
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Review</button>
            </div>
        </div>
      </div>


      <div class="col-md-4 redeemable-boxes">
        <div class="box-wrapper">
          <div class="heading-box">
              <div class="heading-img"><img src="{{ '_0011_Icon_Bday.png' | asset_img_url }}" alt="" /><span>Happy Birthday</span></div>
          </div>
          <div class="points-req">
          25
          <small>points</small>
          </div>
            <div class="btn-wrap centered ">
                <button type="button" id="save-profile" class="purchase-diffuser btn action_button btn-thin ">Share</button>
            </div>
        </div>
      </div>


    </div>


  </div>
</div>
<div class="modals">


<div class="modal fade in" id="replace-diffuser-modal" tabindex="-1" role="dialog" style="display: none; padding-left: 0px;">
      <div class="modal-dialog custom-modal" role="document">
          <div class="modal-content">
              <div class="bottle-done" style="display: block;">
                  <div class="modal-body completed-form">
                      <div class="wizard-content profile-edit">
                        <img class="header-arrow bottle-mark" src="//cdn.shopify.com/s/files/1/1098/3960/t/11/assets/bot-1_large.png?16494508268942720044">
                        <div class="wizard-form">
                            <h4 class="modal-title">
                              Thank you for replacing your diffuser.<br>
                              You now have 400 refills left!
                            </h4>
                        </div>
                      </div>
                      <div class="btn-wrap centered btn-modal-footer">
                        <button class="btn btn-grey replace-diffuser-close prev">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

